<!DOCTYPE html>
<html>
<head>
  <title>JSON</title>
</head>
<body>
<header>
  <nav>
    <a href="/">Main</a>
  </nav>
</header>

<div id="id01"></div>

<script>
  var xmlhttp = new XMLHttpRequest();
  var url = "/persons";

  xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var myArr = JSON.parse(this.responseText);
      myFunction(myArr);
    }
  };
  xmlhttp.open("GET", url, true);
  xmlhttp.send();

  function myFunction(arr) {
    var out = "";
    var i;
    for(i = 0; i < arr.length; i++) {
      out += `<a href="/messages?personId=${arr[i].id}" >` +
      `${arr[i].lastname} ${arr[i].name} ${arr[i].surname}</a><br>`;
    }
    document.getElementById("id01").innerHTML = out;
  }
</script>

</body>
</html>